In [1]:
import pandas as pd

words = pd.read_csv("Separated.csv", header = None)

words.head()

  0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15
0  c  e  n  t  e  r  0  0  0  0  0  0  0  0  0  0
1  g  e  s  c  h  i  c  k  l  i  c  h  k  e  i  t
2  s  u  0  0  0  0  0  0  0  0  0  0  0  0  0  0
3  p  i  s  t  a  0  0  0  0  0  0  0  0  0  0  0
4  p  e  r  h  a  p  s  0  0  0  0  0  0  0  0  0

In [2]:
key = {
    "0":0,
    "a":1,
    "b":2,
    "c":3,
    "d":4,
    "e":5,
    "f":6,
    "g":7,
    "h":8,
    "i":9,
    "j":10,
    "k":11,
    "l":12,
    "m":13,
    "n":14,
    "o":15,
    "p":16,
    "q":17,
    "r":18,
    "s":19,
    "t":20,
    "u":21,
    "v":22,
    "w":23,
    "x":24,
    "y":25,
    "z":26,
    "á":27,
    "é":28,
    "í":29,
    "ó":30,
    "ú":31,
    "ñ":32,
    "ü":33,
    "ä":34,
    "å":35,
    "ö":36,
    "ß":37,
    "'":38,
    "’":39,
    ",":40,
    " ":41
}

In [3]:
for i in range(16):
    for x in range(4000):
        char = words.loc[x,i]

        words.loc[x,i] = key[char]

In [4]:
words

      0   1   2   3   4   5   6   7   8  9  10 11  12 13 14  15
0      3   5  14  20   5  18   0   0   0  0  0  0   0  0  0   0
1      7   5  19   3   8   9   3  11  12  9  3  8  11  5  9  20
2     19  21   0   0   0   0   0   0   0  0  0  0   0  0  0   0
3     16   9  19  20   1   0   0   0   0  0  0  0   0  0  0   0
4     16   5  18   8   1  16  19   0   0  0  0  0   0  0  0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  .. .. .. ..  .. .. ..  ..
3995  11  12   1  18   0   0   0   0   0  0  0  0   0  0  0   0
3996   8   1   4   0   0   0   0   0   0  0  0  0   0  0  0   0
3997  22   5  18  12  15  18   5  14   0  0  0  0   0  0  0   0
3998  19  21   2  19  20   1  14   3   5  0  0  0   0  0  0   0
3999  21  19  21   1  12   0   0   0   0  0  0  0   0  0  0   0

[4000 rows x 16 columns]

In [5]:
words.to_csv('Training_Set.csv',header=False,index=False)